<footer id="pie">
    <span>Recibí todas nuestras novedades, promociones y liquidaciones antes que nadie</span>
    <input type="email" placeholder="  Ingresa tu e-Mail">
    <button id="registro"><span>Regístrame</span></button>
    <div id="contactos">
        <button id="insta-btn"><picture><img src="../Recursos/Iconos/instagram.png" alt="Instagram"></picture></button>
        <button id="face-btn"><picture><img src="../Recursos/Iconos/81341.png" alt="Facebook"></picture></button>
        <button id="what-btn"><picture><img src="../Recursos/Iconos/R.png" alt="Whatsapp"></picture></button>
    </div>
    <div id="derechos">
        <span>Pagina en construcción - Icaro full web stack - Todos los derechos reservados</span>
    </div>
</footer>