<link rel="stylesheet" media="screen and (max-width: 899px)" href="../../../public/CSS/header.css">
<header>
    <div id='header1'>
        <button id="menu"><picture><img src="../Recursos/Iconos/menu.svg" alt="menu"></picture></button>
        <span><a href="index.html" id="texto">Little Glint</a></span>
        <div id="carus">
            <button id="carrito"><picture><img src="../Recursos/Iconos/carro.svg" alt="carro"></picture></button>
            <Button id="usuario"><picture><img src="../Recursos/Iconos/user.svg" alt="usr"></picture></Button>
        </div>
    </div>    
</header>